#logo {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 60px;
  text-align: center;
  background-image: image(http://tinypic.com?ref=2rmtj6x" target="_blank"><img src="http://i63.tinypic.com/2rmtj6x.png" border="0" alt="Image and video hosting by TinyPic"></a>
  <div id="data">);
  padding: 0;
  margin: 0;
}

h3 {
  color: red;
  font-family: 'Cinzel Decorative', cursive;
}

ul {
  font-family: Helvetica;
}

.fish {
  opacity: 0.7;
  margin: auto;
  width: 50%;
  display: block;
}

* {
  background-color: #ffeee2;
}

#data {
  background-color: #E2F3FF;
}

/*background image for header can be the fish image*/
